@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: black;
	color: #218CCF;
}

.index-icons {
	font-size: 1.5em;
}

.index-icons:hover {
  text-decoration: none;
  color: black;
}

.new-bl {
	float: right;
}

.out-lg {
	text-align: center;
}

.set-index-icons {
	font-size: 2em;
	text-align: center;
	vertical-align: bottom;
	margin-right: 5px;
}

.sh-jum {
	background-color: #A4B9BF;
}