// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  background: #141414 url("https://unsplash.it/1228/880?image=302");
  background-size: cover;
  background-position: 50%;
  height: 100vh;
}
svg {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  left: 50%;
  margin-left: -225px;
}

.custom-nav {
	margin-top: 0px;
}